#photoBlock {
    position: relative;
    left: 40%;
    width: 20%;
    justify-content: center;
}

#burgerPhoto {
    width: 100%;
    height: auto;
}

#listBlock {
    display:flex;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
}

/* list styles */
ol {
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* devour it button */
.change-devoured {
    float: right;
    margin-right: 10px;
}

body {
    background-color: orange;
}

h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

#burgerBlock {
    display: flex;
    justify-content: center;
    width: 100%;
}

.create-block {
    display: flex;
    justify-content: center;
}

#listBlock {
    width: 100%;
    justify-content: center;
    margin: 0px;
}

.devoured {
    width: 100%;
    height: 25px;
    margin-top: 5px;
}

.ready {
    width: 100%;
    height: 50px;
}

.ready-list {
    position: absolute;
    width: 20%;
    position: relative;
    display: inline-block;
    border: solid gray 2px;
    background: whitesmoke;
    border-radius: 5px;
    top: 0%;
}

.devoured-list {
    position: relative;
    width: 20%;
    margin-left: 20%;
    display: inline-block;
    justify-content: center;
    border: solid gray 2px;
    background: whitesmoke;
    border-radius: 5px;
}

@media only screen and (max-width: 850px) {
    #photoBlock {
        position: relative;
        left: 35%;
        width: 30%;
        justify-content: center;
    }
    
    #burgerPhoto {
        width: 100%;
        height: auto;
    }
    #listBlock {
        width: 100%;
        justify-content: center;
        margin: 0px;
        display:inline-block;
    }

    .devoured {
        width: 100%;
        height: 25px;
        margin-top: 5px;
    }

    .ready {
        width: 100%;
        height: 50px;
        margin-top: 5px;
    }

    .ready-list {
        width: 80%;
        margin-left: 10%;
        top: 0px;
    }

    .devoured-list {
        width: 80%;
        margin-left: 10%;
    }
}